/* ▼列幅指定▼ */
TBODY TH, TBODY TD             { line-height:1.3em; letter-spacing:0.1em;} /* TBODY共通 */
TH.npc,TD.npc{ width : 150px ; font-weight: bold;} /* ▼NPC▼ */
TH.mob,TD.mob{ width : 250px ; font-weight: bold;} /* ▼mob▼ */
TH.map,TD.map{ width : 250px ; font-weight: bold; padding:4px 6px;} /* ▼map・座標▼ */
TH.bikou,TD.bikou{ width : 450px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */
TH.all,TD.all{ width : 1100px ; font-weight: bold; text-align: left; padding:4px 6px;} /* ▼all▼ */

TH.quetitle,TD.quetitle{ width : 100px ; font-weight: bold;} /* ▼Title▼ */
TH.quetitle2,TD.quetitle2{ width : 150px ; font-weight: bold;} /* ▼exp▼ */
TH.quelv,TD.quelv{ width : 30px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.quekouka,TD.quekouka{ width : 150px ; font-weight: bold;} /* ▼exp▼ */
TH.quenpc,TD.quenpc{ width : 130px ; font-weight: bold;} /* ▼NPC▼ */
TH.queplace,TD.queplace{ width : 220px ; font-weight: bold; padding:4px 6px;} /* ▼NPCの場所▼ */
TH.quebikou,TD.quebikou{ width : 400px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */