@charset   "Shift_JIS";
h1{
font-size : medium;	/* フォントサイズ */
font-weight : bold;	/* フォントの太さ */
background-color : #996699;	/* 背景の色 */
text-align : left;	/* テキストの左寄せ */
letter-spacing : 1px;	/* 文字間隔 */
padding-left : 0.5em;	/* 左の余白 */
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-left-width : 1em;	/* 左境界線をマークとして使用 */
border-left-style : solid;	/* 左境界線（マーク）の種類 */
border-left-color : #993399;	/* 左境界線（マーク）の色 */
border-bottom-width : 1px;	/* 下境界線 */
border-bottom-style : solid;	/* 下境界線の種類 */
border-bottom-color : #993399;	/* 下境界線の色 */
color : white;	/* フォントの色 */
}


.h_redold{
background-color : #996699;	/* 背景の色 */
border-left-color : #993399;	/* 左境界線（マーク）の色 */
border-bottom-color : #993399;	/* 下境界線の色 */
color : white;	/* フォントの色 */
}

.h_red{
background-color : #ff66cc;	/* 背景の色 */
border-left-color : #ff4499;	/* 左境界線（マーク）の色 */
border-bottom-color : #ff4499;	/* 下境界線の色 */
color : white;	/* フォントの色 */
}

.h_blue{
background-color : #0099ff;	/* 背景の色 */
border-left-color : #0066ff;	/* 左境界線（マーク）の色 */
border-bottom-color : #0066ff;	/* 下境界線の色 */
color : white;	/* フォントの色 */
}

.h_green{
background-color : #009966;	/* 背景の色 */
border-left-color : #006666;	/* 左境界線（マーク）の色 */
border-bottom-color : #006666;	/* 下境界線の色 */
color : white;	/* フォントの色 */
}

/* 
	font_size
*/
.fs_6{ font-size: 6px;}
.fs_7{ font-size: 7px;}
.fs_8{ font-size: 8px;}
.fs_9{ font-size: 9px;}
.fs_10{ font-size: 10px;}
.fs_11{ font-size: 11px;}
.fs_12{ font-size: 12px;}
.fs_13{ font-size: 13px;}
.fs_14{ font-size: 14px;}
.fs_15{ font-size: 15px;}
.fs_16{ font-size: 16px;}
.fs_17{ font-size: 17px;}
.fs_18{ font-size: 18px;}
.fs_19{ font-size: 19px;}
.fs_20{ font-size: 20px;}
