@charset   "Shift_JIS";
body{
  background-image: url(image/sora54.jpg);
  font-size:90%;
}

div.partblock{
background-color:#e0f0ff;
line-height:1.5em;
margin:0 0;
padding:0 5;
}

p{
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
text-indent:-1em;
padding-left:1em;
background-color:#ededff;
width: 75%;
line-height: 125%;

}

h3{
  font-size:120%;
  border-bottom:1px solid #999999;
  border-left:6px solid #1E90FF;
  background-color:#B0C4DE;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

h4{
  font-size:110%;
  width:70%;
  border-bottom:1px solid #999999;
  background-color:#D8BFD8;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

span{
  font-weight:bold;
  font-size:100%;
}


#mobdata{
  font-size:90%;
}

p.textindent{
  margin:0;
  padding-left:1.0em;
  text-indent:-1.0em;
}

#mobdata th,
#mobdata td{
  width:80;
}

#kaihidata{
  font-size:90%;
}
