table.st-tbl1{
  width: 1800px;
  /* table-layout: fixed; */
  border: 1px #555555 solid;
  border-spacing: 0;
  color: #fff;
  text-align: left;
  margin-left: 20px;
}
.st-tbl1 thead th {
  /* padding: 3px; */
  border: #555555 solid;
  border-width: 0 0 1px 1px;
  /*さそり座のラッキーカラー：空五倍子色にした*/
  background: #9d896c;
  font-weight: bold;
  line-height: 180%;
  text-align: center;
  /* 縦スクロール時を固定 */
  position: sticky;
  top: 0;
  /* tbody内のセルより手前に表示する */
  z-index: 10;
}
.st-tbl1 th:first-child {
    /* 横スクロールを固定 */
    position: sticky;
    left: 0;
    min-width:180px;
    /* background: #f1f1fd; */
}
.st-tbl1 thead th:first-child {
/* 一番左端のthead thが横スクロール時に隠れない様に */
  z-index: 2;
  min-width:180px;

  /* background: #424242; */
}
.st-tbl1 thead th:nth-child(2) {
  /* 横スクロールを固定 */
  position: sticky;
  left: 0;
  /* background: #f1f1fd; */
}
.st-tbl1 thead th:nth-child(2) {
  z-index: 5;
  left:180px;
  /* background: #424242; */
}

.st-tbl1 td:nth-child(1) {
  /* 横スクロールを固定 */
  position: sticky;
  left: 0;
  background: #9d896c;
  min-width:300px;
}
.st-tbl1 td:nth-child(1) {
  z-index: 2;
  left:180px;
  background: #9d896c;
  min-width:300px;
}

.st-tbl1 th{
  padding: 3px;
  border: #555555 solid;
  border-width: 0 0 1px 1px;
  /*さそり座のラッキーカラー：空五倍子色にした*/
  background: #9d896c;
  font-weight: bold;
  line-height: 180%;
  text-align: center;
}
.st-tbl1 td{
  border: 1px #555555 solid;
  border-width: 0 0 1px 1px;
  color: #030303;
  border-collapse: collapse;
  text-align: center;
  padding: .2rem .5rem;
  font-weight: normal;
}

