br{
	letter-spacing:0;
}

div.partblock{
  font-size:90%;
  line-height:1.4em;
  letter-spacing:0.1em;
  margin:20,5;
  padding:5,5;
}

div.bg_ltblue{
background-color:#add8e6;
color:#333333;

}

div.bg_ltgray{
background-color:#ededf0;
color:#333333;

}

div.bg_snowwhite{
background-color:#f8fcfb;
color:#333333;
}

div.bg_greenmist{
background-color:#e2eee2;
color:#333333;
}

h3{
  font-size:120%;
  border-bottom:1px solid #999999;
  border-left:6px solid #1E90FF;
  background-color:#c2d6f0;
  line-height:150%;
  padding-left:8px;
  margin:5,0;
}

h4{
  font-size:100%;
  width:70%;
  border-bottom:1px solid #999999;
  background-color:#ead1ea;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

TD.elc_flame{ width:810; height:300px; padding:0px; }
TD.elc_title{ width:810px; height:100px; font-size:120%; text-align:center; padding:0px; }
TD.elc_inputarea{ width:280px; height:200px;  text-align:center; padding:0px; }
TD.elc_inputtitle{ width:130px; font-size:80%; text-align:center; padding:0px; }
TD.elc_inputcontents{ width:150px; font-size:80%; text-align:center; padding:0px; }
TD.elc_calcarea{ width:80px; height:200px; align:center; vertical-align:middle; text-align:center; padding:0px; }
TD.elc_outputarea{ width:450px; height:200px; align:center; text-align:center; padding:0px; }
TD.elc_outputstring{ font-size:80%; text-align:left; padding:0px; }

select.tenseikaisuu{ font-size:14px; text-align:center;}
input.nowlv{ width:40px; font-size:16px; text-align:center; }
input.hasuuexp{ width:120px; font-size:16px; text-align:right; }
input.kakutokuexp{ width:120px; font-size:16px; text-align:right; }
textarea.kekka{ width:450px; font-size:16px; text-align:left;}

TH.no_mini{ font-size: 90%; text-align:center; padding: 2px 4px; }
TD.no_mini{ font-size: 90%; font-weight: bold; text-align:center; padding: 2px 4px; }
TH.exp_mini{ font-size: 90%; text-align:center; padding: 2px 4px; }
TD.exp_mini{ font-size: 90%; font-weight: bold; text-align:center; padding: 2px 4px; }
TH.ruikei_mini{ font-size: 90%; text-align:center; padding: 2px 4px; }
TD.ruikei_mini{ font-size: 90%; font-weight: bold; text-align:center; padding: 2px 4px; }


/* ▼列幅指定▼ */
TBODY TH, TBODY TD{ line-height:1.3em;  letter-spacing:0.08em; color:#333333;}
TH.no,TD.no{ width : 80px ; font-weight: bold;} 
TH.category,TD.category{ width : 150px ; font-weight: bold;} 
TH.quenaiyou,TD.quenaiyou{ width : 500px ; font-weight: bold;} 
TH.jouken01,TD.jouken01{ width : 60px ; font-weight: bold; padding:4px 6px;} 
TH.jouken02,TD.jouken02{ width : 60px ; font-weight: bold; padding:4px 6px;} 
TH.housyu,TD.housyu{ width : 250px ; font-weight: bold; padding:4px 6px;} 
TH.npc,TD.npc{ width : 120px ; font-weight: bold;}
TH.naiyou,TD.naiyou{ width : 300 ; font-weight: bold;}
TH.quemap,TD.quemap{ width : 180px ; font-weight: bold;}
TH.bikou,TD.bikou{ width : 700px ; text-align: left; padding:4px 6px;} 

TH.lvband,TD.lvband{ width : 150px ; font-weight: bold; padding:4px 6px;} 
TH.butsuri,TD.butsuri{ width : 500px ; text-align: left; vertical-align:top; padding:4px 6px;} 
TH.chishiki,TD.chishiki{ width : 500px ; text-align: left; vertical-align:top; padding:4px 6px;} 

TH.midashi00,TD.midashi00{ width : 40px ; font-weight: bold;} /* ▼見出し00▼ */
TH.midashi01,TD.midashi01{ width : 200px ; font-weight: bold; padding:2px 4px} /* ▼見出し01▼ */
TH.midashi02,TD.midashi02{ width : 500px ; font-weight: bold; padding:2px 4px} /* ▼見出し02▼ */
TH.midashi03,TD.midashi03{ width : 150px ; font-weight: bold; padding:2px 4px} /* ▼見出し03▼ */


TH.quetitle,TD.quetitle{ width : 100px ; font-weight: bold;} /* ▼Title▼ */
TH.quetitle2,TD.quetitle2{ width : 150px ; font-weight: bold; padding:4px 6px;} /* ▼exp▼ */
TH.quelv,TD.quelv{ width : 30px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.queinv,TD.queinv{ width : 80px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.quekouka,TD.quekouka{ width : 200px ; font-weight: bold; padding:4px 6px;} /* ▼称号効果▼ */
TH.quenpc,TD.quenpc{ width : 130px ; font-weight: bold;} /* ▼NPC▼ */
TH.queplace,TD.queplace{ width : 220px ; font-weight: bold; padding:4px 6px;} /* ▼NPCの場所▼ */
TH.quebikou,TD.quebikou{ width : 400px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */

TH.op_title,TD.op_title{ width : 300px ; font-weight: bold;}
TH.op_koumoku,TD.op_koumoku{ width : 120px ; font-weight: bold;}
