@charset   "Shift_JIS";

TABLE{
   font-family:'ＭＳ Ｐゴシック',
                sans-serif;
}

TABLE.invisible {
   font-family:'ＭＳ Ｐゴシック',
                sans-serif;
   font-size: 75%;
}

TABLE.mq_t{
   font-size: 80%;
   line-height: 125%;

   text-align: center;

   border-collapse: separate ;
   border-spacing: 0;
   empty-cells: show ;
}

/* ▼外枠（青）▼ */
.ob_blue {
   border-top: 1px solid #6495ed;
   border-right: 0px solid;
   border-bottom: 0px solid;
   border-left: 1px solid #6495ed;
}

/* ▼外枠（赤）▼ */
.ob_red {
   border-top: 1px solid #da70d6;
   border-right: 0px solid;
   border-bottom: 0px solid;
   border-left: 1px solid #da70d6;
}

/* ▼内枠（青）▼ */
.ib_blue TH,
.ib_blue TD{
   border-top: none;
   border-right: 1px solid #6495ed;
   border-bottom: 1px solid #6495ed;
   border-left: none;  
}

/* ▼内枠（赤）▼ */
.ib_red TH,
.ib_red TD{
   border-top: none;
   border-right: 1px solid #da70d6;
   border-bottom: 1px solid #da70d6;
   border-left: none;  
}

/* ▼枠なし▼ */
.ob_none TH,
.ob_none TD{
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: none;  
}

.ib_none TH,
.ib_none TD{
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: none;  
}

.bold{ font-weight: bold; }

/* ▼列幅指定▼ */
/*　強化必要材料一覧 */
TH.grade,TD.grade { width : 80px ;} /* ▼等級▼ */
TH.gold,TD.gold{ width : 80px ;} /* ▼GOLD▼ */
TH.shinpi,TD.shinpi{ width : 100px ;} /* ▼神秘の石▼ */
TH.syutsudohin,TD.syutsudohin{ width : 100px ;} /* ▼出土品▼ */
TH.kessyouseki,TD.kessyouseki{ width : 120px ;} /* ▼結晶石▼ */
TH.dwnnoguard,TD.dwnnoguard{ width : 100px ;} /* ▼ガードなし▼ */
TH.dwnguard,TD.dwnguard{ width : 100px ;} /* ▼ガードあり▼ */
TH.bikou, TD.bikou{ width : 200px } /* ▼備考▼ */

/* インフィニティ武器一覧テーブル */
TH.bs_title,TD.bs_title{ width: 80px ; font-weight: bold;}
TH.bukisokudo,TD.bukisokudo{ width: 80px ; font-size: 120％; font-weight: bold;}
TH.syatei_title,TD.syatei_title{ width: 80px ; font-weight: bold;}
TH.syatei,TD.syatei{ width: 80px ;}
TH.etc_title,TD.etc_title{ width: 100px ; font-weight: bold }
TH.etc,TD.etc{ width: 80px ;}
TH.grade2,TD.grade2 { width : 60px ;} /* ▼等級▼ */
TH.ico2,TD.ico2 { width : 40px ;} /* ▼アイコン▼ */
TH.soubilv,TD.soubilv{ width: 60px ;}
TH.youkyu,TD.youkyu{ width: 60px ;}
TH.basedmg,TD.basedmg{ width: 80px ;}
TH.op1,TD.op1{ width: 100px ; font-weight: bold;}
TH.op2,TD.op2{ width: 100px ; font-weight: bold;}
TH.op3,TD.op3{ width: 100px ; font-weight: bold;}
TH.op4,TD.op4{ width: 100px ; font-weight: bold;}
TH.op5,TD.op5{ width: 100px ; font-weight: bold;}
TH.op6,TD.op6{ width: 100px ; font-weight: bold;}
TH.op7,TD.op7{ width: 100px ; font-weight: bold;}


TABLE.mq_t TH.Title,TD.Title  { width : 100px;}  /* ▼Title▼ */
TABLE.mq_t TH.exp,TD.exp      { width : 40px;}  /* ▼EXP▼ */
TABLE.mq_t TH.limlv,TD.limlv  { width : 40px;}  /* ▼制限Lv▼ */
TABLE.mq_t TH.npc,TD.npc      { width : 110px;} /* ▼NPC▼ */
TABLE.mq_t TH.quemob,TD.quemob{ width : 130px;} /* ▼クエ品/MOB▼ */
TABLE.mq_t TH.map,TD.map      { width : 180px;} /* ▼MAP/座標▼ */
TABLE.mq_t TH.bikou,TD.bikou  { width : 420px;} /* ▼備考▼ */
TABLE.mq_t TH.bikou04,TD.bikou04  { width : 840px;} /* ▼備考（４段）▼ */
TABLE.mq_t TH.bikou06,TD.bikou06  { width : 920px;} /* ▼備考（６段）▼ */

TABLE.mq_t TH.Number,TD.Number  { width : 30px;}  /* ▼Number▼ */
TABLE.mq_t TH.Title_Housyu,TD.Title_Housyu  { width : 200px;}  /* ▼Title（報酬）▼ */
TABLE.mq_t TH.hyouka,TD.hyouka  { width : 30px;} /* ▼評価▼ */
TABLE.mq_t TH.kouka,TD.kouka  { width : 400px;} /* ▼報酬効果▼ */
TABLE.mq_t TH.joken,TD.joken  { width : 100px;} /* ▼条件▼ */
TABLE.mq_t TH.ico,TD.ico  { width : 50px;} /* ▼アイコン▼ */

TABLE.mq_t TH.Title_Bonus,TD.Title_Bonus{ width : 200px;}  /* ▼性向ボーナス（タイトル）▼ */
TABLE.mq_t TH.Value_Bonus,TD.Value_Bonus{ width : 30px;}  /* ▼性向ボーナス（値）▼ */

/* ▼列ごとのその他の指定▼ */
TABLE.mq_t TH.npc,TD.npc      { font-weight: bold;} /* ▼NPC▼ */
TABLE.mq_t TH.quemob,TD.quemob{ font-weight: bold;} /* ▼クエ品/MOB▼ */
TABLE.mq_t TH.map,TD.map      { font-weight: bold;} /* ▼MAP/座標▼ */
TABLE.mq_t TD.bikou,TD.bikou04,TD.bikou06 {   /* ▼備考▼ */
   font-size: 100%;
   text-align: left;
 }


/* ▼表の本体の装飾▼ */
/* ▼セル色（青色）▼ */
.bg_blue TH,
TH.bg_blue {
/*   background-color: #abc5da;*/
   background-color: #c0d9ff;
   font-weight: bold;
}
.bg_blue TD,{
   background-color: #CBD5FF;  
}

TD.bg_blue {
/*   background-color: #abc5da;*/
   background-color: #c0d9ff;
}

TD.bg_ltblue {
   background-color: #CBD5FF;  
}

/* ▼セル色（赤色）▼ */
.bg_red TH, 
TH.bg_red {
   background-color: #ffd2ff;
/*   background-color: #d1b1ba; */
   font-weight: bold;
}
.bg_red TD{
   background-color: #dddddd; 
}

TD.bg_red{
   background-color: #ffd2ff;
/*   background-color: #d1b1ba; */
}

/* ▼セル色（灰色）▼ */
.bg_gray TH, .bg_gray TD,
TH.bg_gray, TD.bg_gray {
   background-color: #cccccc;
}

/* ▼セル色（薄灰色）▼ */
.bg_ltgray TH, .bg_ltgray TD,
TH.bg_ltgray, TD.bg_ltgray {
   background-color: #dddddd;
}

/* ▼セル色（透過）▼ */
.bg_none TH, .bg_none TD,
TH.bg_none, TD.bg_none {
   background-color: transparent;
}

/* ▼文字色の設定▼ */
TABLE.mq_t TD.fc_01 { color: #8A2BE2; }
TABLE.mq_t TD.fc_02 { color: #0000ff; }
TABLE.mq_t TD.fc_03 { color: #009900; }
TABLE.mq_t TD.fc_04 { color: #FF0000; }
TABLE.mq_t TD.fc_05 { color: #FF3399; }

