body{
  letter-spacing: 1px;
}
div.partblock{
  font-size:90%;
  line-height:1.4em;
  margin:20,0;
  padding:5,5;
}

div.bg_ltblue{
background-color:#ADD8E6;
}

div.bg_ltgray{
background-color:#ededff;
}

h3{
  font-size:120%;
  border-bottom:1px solid #999999;
  border-left:6px solid #1E90FF;
  background-color:#B0C4DE;
  line-height:150%;
  padding-left:8px;
  margin:5,0;
}

h4{
  font-size:100%;
  width:70%;
  border-bottom:1px solid #999999;
  background-color:#D8BFD8;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

/* ▼列幅指定▼ */
TBODY TH, TBODY TD             { letter-spacing: 1.5px; line-height:1.3em; } /* TBODY共通 */
TH.npc,TD.npc{ width : 150px ; font-weight: bold;} /* ▼NPC▼ */
TH.mob,TD.mob{ width : 250px ; font-weight: bold;} /* ▼mob▼ */
TH.map,TD.map{ width : 250px ; font-weight: bold; padding:4px 6px;} /* ▼map・座標▼ */
TH.bikou,TD.bikou{ width : 450px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */
TH.all,TD.all{ width : 1100px ; font-weight: bold; text-align: left; padding:4px 6px;} /* ▼all▼ */

TH.onchousyurui,TD.onchousyurui{ width : 100px ; font-weight: bold;} /* ▼恩寵の種類▼ */
TH.quetitle,TD.quetitle{ width : 150px ; font-weight: bold;} /* ▼クエスト名▼ */
TH.quelv,TD.quelv{ width : 30px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.commonquekouka,TD.commonquekouka{ width : 200px ; font-weight: bold;} /* ▼exp▼ */
TH.koyuuquekouka,TD.koyuuquekouka{ width : 200px ; font-weight: bold;} /* ▼NPC▼ */
TH.hatsudouritsu,TD.hatsudouritsu{ width : 50px ; font-weight: bold;} /* ▼NPC▼ */
TH.quebikou,TD.quebikou{ width : 400px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */