@charset   "Shift_JIS";

TABLE{
}

TABLE.khb_flat{
   text-align: center;

   border-collapse: separate ;
   border-spacing: 0;
   empty-cells: show ;
}


/*-----------------------------------------------
	薄青セット（TABLEタグに設定）
-----------------------------------------------*/
TABLE.khb_ftable_ltblue{
	text-align: center;
	border-collapse:separate;
	border-spacing: 0;
	empty-cells: show ;

	/*　外枠  */
	border-top: 1px solid #6495ed;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #6495ed;
}

.khb_ftable_ltblue TH,
.khb_ftable_ltblue TD{
	/*　内枠  */
	border-top: none;
	border-right: 1px solid #6495ed;
	border-bottom: 1px solid #6495ed;
	border-left: none;  
}

.khb_ftable_ltblue THEAD TH,
.khb_ftable_ltblue THEAD TD{
	/*　セル背景色 */
	background-color: #dddddd;
}

.khb_ftable_ltblue TBODY TH{
	/*　セル背景色 */
/*	background-color: #bbccff; */
	background-color: #c0d9ff;
}

.khb_ftable_ltblue TBODY TD{
	/*　セル背景色 */
/*	background-color: #c4d8f2; */
	background-color: #e0ecff; 
}

/*-----------------------------------------------
	薄ピンクセット（TABLEタグに設定）
-----------------------------------------------*/
TABLE.khb_ftable_ltpink{
	text-align: center;
	border-collapse:separate;
	border-spacing: 0;
	empty-cells: show ;

	/*　外枠  */
	border-top: 1px solid #da70d6;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #da70d6;
}

.khb_ftable_ltpink TH,
.khb_ftable_ltpink TD{
	/*　内枠  */
	border-top: none;
	border-right: 1px solid #da70d6;
	border-bottom: 1px solid #da70d6;
	border-left: none;  
}

.khb_ftable_ltpink THEAD TH,
.khb_ftable_ltpink THEAD TD{
	font-weight:bold;
	/*　セル背景色 */
	background-color: #dddddd;
}

.khb_ftable_ltpink TBODY TH{
	/*　セル背景色 */
/*	background-color: #ffccff; */
	background-color: #ffd2ff;
}
.khb_ftable_ltpink TBODY TD{
	/*　セル背景色 */
/*	background-color: #ffddff; */
	background-color: #ffe8ff;
}

/*-----------------------------------------------
	freeセット（TABLEタグに設定）
-----------------------------------------------*/
TABLE.khb_ftable_free{
	text-align: center;
	border-collapse:separate;
	border-spacing: 0;
	empty-cells: show ;
}

.khb_ftable_free THEAD TH,
.khb_ftable_free THEAD TD{
	font-weight:bold;
	/*　セル背景色 */
	background-color: #dddddd;
}

/*-----------------------------------------------
	border（青)
-----------------------------------------------*/
TABLE.border_blue{
	/*　外枠  */
	border-top: 1px solid #6495ed;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #6495ed;
}

.border_blue TH,
.border_blue TD{
	/*　内枠  */
	border-top: none;
	border-right: 1px solid #6495ed;
	border-bottom: 1px solid #6495ed;
	border-left: none;  
}

/*-----------------------------------------------
	border（赤)
-----------------------------------------------*/
TABLE.border_red{
	/*　外枠  */
	border-top: 1px solid #da70d6;
	border-right: none;
	border-bottom: none;
	border-left: 1px solid #da70d6;
}

.border_red TH,
.border_red TD{
	/*　内枠  */
	border-top: none;
	border-right: 1px solid #da70d6;
	border-bottom: 1px solid #da70d6;
	border-left: none;  
}

/*-----------------------------------------------
	枠なしの設定
-----------------------------------------------*/
/* 
	内枠（全なし）
*/
TABLE.border_none,
.border_none TH,
.border_none TD{
	border:none;
}

/* 
	内枠（右なし）
*/
.border_right_none TH, TH.border_right_none,
.border_right_none TD, TD.border_right_none{
	border-right: none;
}

/* 
	内枠（下なし）
*/
.border_bottom_none TH, TH.border_bottom_none,
.border_bottom_none TD, TD.border_bottom_none{
	border-bottom: none;
}


/*-----------------------------------------------
	行単位で設定（薄青：TRに記述）
-----------------------------------------------*/
TBODY TR.setline_ltblue TH{
	/*　セル背景色 */
	background-color: #c0d9ff;
}

TBODY TR.setline_ltblue TD{
	/*　セル背景色 */
	background-color: #e0ecff;
}

/*-----------------------------------------------
	行単位で設定（薄ピンク：TRに記述）
-----------------------------------------------*/
TBODY TR.setline_ltpink TH{
	/*　セル背景色 */
	background-color: #ffd2ff;
}

TBODY TR.setline_ltpink TD{
	/*　セル背景色 */
/*	background-color: #ffddff; */
	background-color: #ffe8ff; 
}

/*-----------------------------------------------
	行単位で設定（薄黄：TRに記述）
-----------------------------------------------*/
TBODY TR.setline_ltyellow TH{
	/*　セル背景色 */
	background-color: #ffffaa;
}

TBODY TR.setline_ltyellow TD{
	/*　セル背景色 */
	background-color: #ffffdd;
}

/*-----------------------------------------------
	行単位で設定（薄緑：TRに記述）
-----------------------------------------------*/
TBODY TR.setline_ltgreen TH{
	/*　セル背景色 */
	background-color: #33ff33;
}

TBODY TR.setline_ltgreen TD{
	/*　セル背景色 */
	background-color: #99ff99;
}

/*-----------------------------------------------
	行単位で設定（薄グレイ：TRに記述）
-----------------------------------------------*/
TBODY TR.setline_ltgray TH{
	/*　セル背景色 */
	background-color: #cccccc;
}

TBODY TR.setline_ltgray TD{
	/*　セル背景色 */
	background-color: #dddddd;
}

/* 
	外枠（青）
*/
.ob_blue {
   border-top: 1px solid #6495ed;
   border-right: 0px solid;
   border-bottom: 0px solid;
   border-left: 1px solid #6495ed;
}

/* 
	外枠（赤）
*/
.ob_red {
   border-top: 1px solid #da70d6;
   border-right: 0px solid;
   border-bottom: 0px solid;
   border-left: 1px solid #da70d6;
}

/* 
	外枠（なし）
*/
.ob_none{
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: none;  
}

/* 
	内枠（青）
*/
.ib_blue TH, TH.ib_blue,
.ib_blue TD, TD.ib_blue{
   border-top: none;
   border-right: 1px solid #6495ed;
   border-bottom: 1px solid #6495ed;
   border-left: none;  
}

/* 
	内枠（赤）
*/
.ib_red TH, TH.ib_red,
.ib_red TD, TD.ib_red{
   border-top: none;
   border-right: 1px solid #da70d6;
   border-bottom: 1px solid #da70d6;
   border-left: none;  
}

/* 
	内枠（なし）
*/
.ib_none TH, TH.ib_none,
.ib_none TD, TD.ib_none{
   border-top: none;
   border-right: none;
   border-bottom: none; 
   border-left: none;  
}

/* 
	内枠（上なし）
*/
.ib_top_none TH, TH.ib_top_none,
.ib_top_none TD, TD.ib_top_none{
   border-top: none;
}


/* 
	内枠（右なし）
*/
.ib_right_none TH, TH.ib_right_none,
.ib_right_none TD, TD.ib_right_none{
   border-right: none;
}

/* 
	内枠（下なし）
*/
.ib_bottom_none TH, TH.ib_bottom_none,
.ib_bottom_none TD, TD.ib_bottom_none{
   border-bottom: none;
}

/* 
	内枠（左なし）
*/
.ib_left_none TH, TH.ib_left_none,
.ib_left_none TD, TD.ib_left_none{
   border-left: none;
}

/* 
	セル（青）
*/
TBODY TR TH.bg_blue,
TBODY TR TD.bg_blue{
   background-color: #bbccff;
}

/* 
	セル（薄青）
*/
TBODY TR TH.bg_ltblue,
TBODY TR TD.bg_ltblue{
   background-color: #ccddff;  
}

/* 
	セル（赤）
*/
TBODY TR TH.bg_red,
TBODY TR TD.bg_red{
   background-color: #d1b1ba;
}

/* 
	セル（bbピンク）
*/
TBODY TR TH.bg_bbpink,
TBODY TR TD.bg_bbpink{
   background-color: #FFBBFF;
}

/* 
	セル（ccピンク）
*/
TBODY TR TH.bg_ccpink,
TBODY TR TD.bg_ccpink{
   background-color: #FFccFF;
}

/* 
	セル（薄ピンク）
*/
TBODY TR TH.bg_ltpink,
TBODY TR TD.bg_ltpink{
   background-color: #FFDDFF;
}

/* 
	セル（黄）
*/
TBODY TR TH.bg_bbyellow,
TBODY TR TD.bg_bbyellow{
   background-color: #efefa7;
}

/* 
	セル（薄黄）
*/
TBODY TR TH.bg_ccyellow,
TBODY TR TD.bg_ccyellow{
   background-color: #ffffcc;  
}


/* 
	セル（薄緑）
*/
TBODY TR TH.bg_ltgreen,
TBODY TR TD.bg_ltgreen{
   background-color: #99ff99;  
}

/* 
	セル（灰）
*/
TBODY TR TH.bg_gray,
TBODY TR TD.bg_gray{
   background-color: #cccccc;
}

/* 
	セル（薄灰）
*/
TBODY TR TH.bg_ltgray,
TBODY TR TD.bg_ltgray{
   background-color: #dddddd;
}

/* 
	セル（透過）
*/
TBODY TR TH.bg_none,
TBODY TR TD.bg_none {
   background-color: transparent;
}


/* 
	font設定
*/
.bold{ font-weight: bold; }
.fw_normal{ font-weight: normal; }


/* 
	font_size
*/
.fs_6{ font-size: 6px;}
.fs_7{ font-size: 7px;}
.fs_8{ font-size: 8px;}
.fs_9{ font-size: 9px;}
.fs_10{ font-size: 10px;}
.fs_11{ font-size: 11px;}
.fs_12{ font-size: 12px;}
.fs_13{ font-size: 13px;}
.fs_14{ font-size: 14px;}
.fs_15{ font-size: 15px;}
.fs_16{ font-size: 16px;}
.fs_17{ font-size: 17px;}
.fs_18{ font-size: 18px;}
.fs_19{ font-size: 19px;}
.fs_20{ font-size: 20px;}
