br{
	letter-spacing:0;
}

div.partblock{
  font-size:90%;
  line-height:1.4em;
  letter-spacing:0.1em;
  margin:20,5;
  padding:5,5;
}

div.bg_ltblue{
background-color:#add8e6;
color:#333333;

}

div.bg_ltgray{
background-color:#ededf0;
color:#333333;

}

div.bg_snowwhite{
background-color:#f8fcfb;
color:#333333;
}

div.bg_greenmist{
background-color:#e2eee2;
color:#333333;
}
TABLE.mq05_mokuji TH{
	width:400px;
	padding: 4px 6px;
}

TABLE.mq05_mokuji TD{
	width:400px;
	padding: 4px 6px;
	text-align:left;
}


TABLE.mq05_table TH{
	padding: 4px 6px;
}

TABLE.mq05_table TD{
	padding: 4px 6px;
}

TABLE.mq05_table TD.nopadding{
	padding: 1px 1px;
}
/*-------------------------------
	テーブル要素の設定
-------------------------------*/
TBODY TH, TBODY TD             { line-height:1.3em; letter-spacing:0.1em;} /* TBODY共通 */
TBODY TH.Title,TBODY TD.Title  { width : 110px;}  /* ▼Title▼ */
TBODY TH.exp,TBODY TD.exp      { width : 40px;}  /* ▼EXP▼ */
TBODY TH.limlv,TBODY TD.limlv  { width : 40px;}  /* ▼制限Lv▼ */
TBODY TH.npc,TBODY TD.npc      { width : 170px; font-weight:bold; } /* ▼NPC▼ */
TBODY TH.quemob,TBODY TD.quemob{ width : 180px; font-weight:bold; } /* ▼クエ品/MOB▼ */
TBODY TH.map,TBODY TD.map      { width : 240px; font-weight:bold; } /* ▼MAP/座標▼ */
TBODY TH.bikou                 { width : 450px; text-align:center; } /* ▼備考▼ */
TBODY TD.bikou                 { width : 450px; text-align:left; } /* ▼備考▼ */

TBODY TH.bikou04,TBODY TD.bikou04  { width : 1020px; text-align:left; } /* ▼備考（４段）▼ */
TBODY TH.bikou05,TBODY TD.bikou05  { width : 880px; text-align:left; } /* ▼備考（５段）▼ */

TBODY TH.Number,TBODY TD.Number  { width : 20px;}  /* ▼Number▼ */
TBODY TH.Title_Housyu,TBODY TD.Title_Housyu  { width : 200px;}  /* ▼Title（報酬）▼ */
TBODY TH.hyouka,TBODY TD.hyouka  { width : 30px;} /* ▼評価▼ */
TBODY TH.kouka,TBODY TD.kouka  { width : 230px;} /* ▼報酬効果▼ */
TBODY TH.joken,TBODY TD.joken  { width : 80px;} /* ▼条件▼ */
TBODY TH.ico,TBODY TD.ico  { width : 30px;} /* ▼アイコン▼ */
TBODY TH.bikousub  { width : 400px; text-align:center; } /* ▼備考（５段）▼ */
TBODY TD.bikousub  { width : 400px; text-align:left; } /* ▼備考（５段）▼ */


TBODY TH.Title_Bonus,TBODY TD.Title_Bonus{ width : 200px;}  /* ▼性向ボーナス（タイトル）▼ */
TBODY TH.Value_Bonus,TBODY TD.Value_Bonus{ width : 30px;}  /* ▼性向ボーナス（値）▼ */


/*-------------------------------
	文字色の設定
-------------------------------*/
TD.fc_01 { color: #8A2BE2; }
TD.fc_02 { color: #0000ff; }
TD.fc_03 { color: #009900; }
TD.fc_04 { color: #FF0000; }
TD.fc_05 { color: #FF3399; }

h2{
font-size : medium;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 75%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#000088;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

h3{
font-size : 90%;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 50%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#0000cc;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

p{
font-family:'ヒラギノ角ゴ Pro W3',
            'Hiragino Kaku Gothic Pro',
            'メイリオ', Meiryo,
            'ＭＳ Ｐゴシック',
             sans-serif;
font-size : 80%;	/* フォントサイズ */
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
}