@charset   "Shift_JIS";
body{
  font-size:90%;
}

div{
}

p{
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
text-indent:-1em;
padding-left:1em;
background-color:#dacedd;
width: 75%;
line-height: 125%;

}
