br{
	letter-spacing:0;
}

div.partblock{
  font-size:90%;
  line-height:1.4em;
  letter-spacing:0.1em;
  margin:20,5;
  padding:5,5;
}

div.bg_ltblue{
background-color:#add8e6;
color:#333333;

}

div.bg_ltgray{
background-color:#ededf0;
color:#333333;

}

div.bg_snowwhite{
background-color:#f8fcfb;
color:#333333;
}

div.bg_greenmist{
background-color:#e2eee2;
color:#333333;
}

TABLE.mq04_mokuji TH{
	width:300px;
	padding: 4px 6px;
}

TABLE.mq04_mokuji TD{
	width:300px;
	padding: 4px 6px;
	text-align:left;
}


TABLE.mq04_table TH{
	padding: 4px 6px;
}

TABLE.mq04_table TD{
	padding: 4px 6px;
}


/*-------------------------------
	テーブル要素の設定
-------------------------------*/
TBODY TH, TBODY TD             { line-height:1.3em; letter-spacing:0.1em;} /* TBODY共通 */
TBODY TH.Title,TBODY TD.Title  { width : 110px;}  /* ▼Title▼ */
TBODY TH.exp,TBODY TD.exp      { width : 40px;}  /* ▼EXP▼ */
TBODY TH.limlv,TBODY TD.limlv  { width : 40px;}  /* ▼制限Lv▼ */
TBODY TH.npc,TBODY TD.npc      { width : 120px; font-weight:bold; } /* ▼NPC▼ */
TBODY TH.quemob,TBODY TD.quemob{ width : 130px; font-weight:bold; } /* ▼クエ品/MOB▼ */
TBODY TH.map,TBODY TD.map      { width : 190px; font-weight:bold; } /* ▼MAP/座標▼ */
TBODY TH.bikou,TBODY TD.bikou  { width : 420px; text-align:left; line-height: 1.2em; } /* ▼備考▼ */

/*-------------------------------
	文字色の設定
-------------------------------*/
TD.fc_01 { color: #8A2BE2; }
TD.fc_02 { color: #0000ff; }
TD.fc_03 { color: #009900; }
TD.fc_04 { color: #FF0000; }
TD.fc_05 { color: #FF3399; }