@charset   "Shift_JIS";
body{
font-size: 90%;
}

div{
}

h2{
font-size : medium;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 75%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#000088;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

h3{
font-size : 90%;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 50%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#0000cc;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}
