/* ▼列幅指定▼ */
TH.npc,TD.npc{ width : 150px ; font-weight: bold;} /* ▼NPC▼ */
TH.mob,TD.mob{ width : 250px ; font-weight: bold;} /* ▼mob▼ */
TH.map,TD.map{ width : 250px ; font-weight: bold; padding:4px 6px;} /* ▼map・座標▼ */
TH.bikou,TD.bikou{ width : 450px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */

TH.quetitle,TD.quetitle{ width : 180px ; font-weight: bold;} /* ▼Title▼ */
TH.queexp,TD.queexp{ width : 80px ; font-weight: bold;} /* ▼exp▼ */
TH.quelv,TD.quelv{ width : 80px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.quenpc,TD.quenpc{ width : 140px ; font-weight: bold;} /* ▼NPC▼ */
TH.queplace,TD.queplace{ width : 210px ; font-weight: bold; padding:4px 6px;} /* ▼NPCの場所▼ */
TH.quebikou,TD.quebikou{ width : 400px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */