@charset   "Shift_JIS";
body{
  font-size:90%;
  line-height:125%;
}

div.himitsutable{
  font-size:100%;
}

TABLE.skillchart{
  font-size:90%;
}

TD.setsumei{
  text-align:left;
  padding:6px 8px;
}
TH.skillname,
TH.lv{
  padding:6px 8px;
}
