@charset   "Shift_JIS";
body{
font-size: 90%;
}

span{
font-size: 85%;
}
div{
line-height:1.5em;
}

input {
font-family:Arial,Helvetica,sans-serif;
}

h2{
font-size : medium;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 75%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#000088;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

h3{
font-size : 90%;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 50%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#0000cc;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

table{
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
}

div.framecalc{
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
width: 75%;
font-size: 85%;
}

table.framecalcinput{
 font-size:85%;
 text-align:left;
}

table.framecalcinput.tr.td{
 text-align:left;
 font-size:85%;
}

table.frameichiran.tr.td{
font-size:100%;
}

table.framecalcinput_fontm_center{
 text-align:center;
 font-size:75%;
}

table.framecalcinput_fontm_left{
 text-align:left;
 font-size:75%;
}

td{
vertical-align: center;
}

strong.tabletitle{
  font-size: 120%;
}

td.font120{
  font-size:120%;
}

td.font85{
  font-size:85%;
}

.nodisplay{
	display: none;
}
/* ▼列幅指定▼ */
TH.table01_01,TD.table01_01{ width : 30px ; font-weight: bold;} \
TH.table01_02,TD.table01_02{ width : 160px ; font-weight: bold; padding:4px 6px;}
TH.table01_03,TD.table01_03{ width : 50px ; font-weight: bold;}
TH.table01_04,TD.table01_04{ width : 300px ; padding:4px 6px;}
TH.table01_05,TD.table01_05{ width : 450px ; padding:4px 6px; text-align:left;}

TH.table02_01,TD.table02_01{ width : 540px ; text-align: left; padding:4px 6px;}
