	.sml {
		font-size: 10px;
	}

	.lf {
		text-align: left;
	}

	.cn {
		text-align: center;
		width: 1440px;
	}

	.rt {
		text-align: right;
	}

	.bcn {
		width: inherit;
		margin: 0px auto;
	}

	.l_tit {
		margin-bottom: 10px;
		border-color: #7f7fcf;
		background-color: #2f2f7f;
	}

	.l_bdy {
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-style: outset;
		border-color: #7f7fcf;
		background-color: #000000;
		width: 728px;
	}

	.sall {
		width: 728px;
	}

	.Obj, .AreaObj, .Lnk {
		position: absolute;
	}

	.Pa {
		color: #000000;
	}

	.Pb {
		color: #ff0000;
	}

	.w_map {
		display: none;
		padding: 10px;
		position: absolute;
		width: 200px;
		background-color: #2f2f7f;
	}

	.m_bx {
		width: 70px;
		background-color: #000000;
		color: #afafff;
		border: 0px #000000;
	}

	.m_bx2 {
		width: 30px;
		background-color: #000000;
		color: #afafff;
		border: 0px #000000;
	}

	.area:hover {
		background-color: rgba(0, 221, 255, 0.7);
	}

	.area_type00 {
		background-color: rgba(196, 0, 204, 0.8);
	}

	.area_type00:hover {
		background-color: rgba(59, 44, 82, 0.5);
	}

	.area_type02 .secret {
		background-color: transparent;
	}

	.area_type02 .SecretDungeonEntrance:hover {
		opacity: 0.7;
	}

	.area_type03 {
		background-color: transparent;
	}

	.area_type03:hover {
		cursor: pointer;
	}

	.area_type03 .portalImg:hover {
		cursor: pointer;
		opacity: 0.7;
	}

	.area_type04 {
		background-color: rgba(0, 0, 255, 0.3);
	}

	.area_type04:hover {
		background-color: rgba(0, 200, 255, 0.5);
	}

	.area_type05 {
		color: magenta;
		background-color: transparent;
	}

	.area_type05:hover {
		color: #8e00cc;
	}

	.area_type06 {
		color: #00ff20;
		background-color: transparent;
	}

	.area_type06:hover {
		color: #009020;
	}

	.area_type11 {
		background-color: #ff2000;
	}

	.area_type11:hover {
		background-color: #700000;
	}

	.area_type13 {
		background-color: transparent;
	}

	/* .area_type13:hover {} */

	.area_type17 {
		background-color: transparent;
	}

	/* .area_type17:hover {} */

	.area_type18 {
		background-color: rgba(255, 255, 0, 0.3);
	}

	.area_type18:hover {
		background-color: rgba(255, 183, 76, 0.5);
	}