br{
	letter-spacing:0;
}

div.partblock{
  font-size:90%;
  line-height:1.4em;
  letter-spacing:0.1em;
  margin:20,5;
  padding:5,5;
}

.rqc{
  min-width:1400px;
}

div.bg_ltblue{
background-color:#add8e6;
color:#333333;

}

div.bg_ltgray{
background-color:#ededf0;
color:#333333;

}

div.bg_snowwhite{
background-color:#f8fcfb;
color:#333333;
}

div.bg_greenmist{
background-color:#e2eee2;
color:#333333;
}

h3{
  font-size:120%;
  border-bottom:1px solid #999999;
  border-left:6px solid #1E90FF;
  background-color:#c2d6f0;
  line-height:150%;
  padding-left:8px;
  margin:5,0;
}

h4{
  font-size:100%;
  width:70%;
  border-bottom:1px solid #999999;
  background-color:#ead1ea;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

label, input[type='checkbox'] {
    cursor: pointer;
}


TD.elc_flame{ width:1400px; height:300px; padding:0px; }
TD.elc_title{ width:1400px; height:100px; font-size:120%; text-align:center; padding:0px; }
TD.elc_inputarea{ width:550px; height:200px;  text-align:center; padding:0px; }
TD.elc_inputtitle{ width:150px; font-size:80%; text-align:center; padding:0px; }
TD.elc_inputcontents{ width:400px; font-size:80%; text-align:center; padding:0px; }
TD.elc_inputcontents_left{ width:350px; font-size:80%; text-align:left; padding:0px; }
TD.elc_calcarea{ width:100px; height:200px; align:center; vertical-align:middle; text-align:center; padding:0px; }
TD.elc_outputarea{ width:750px; height:200px; align:center; text-align:center; padding:0px; }
TD.elc_outputstring{ font-size:80%; text-align:left; padding:0px; }

select.tenseikaisuu{ font-size:14px; text-align:center;}
input.nowlv{ width:40px; font-size:16px; text-align:center; }
input.guild_expseisaku{ width:40px; font-size:14px; text-align:center; }
input.hasuuexp_percent{ width:70px; font-size:14px; text-align:center; }
input.hasuuexp_num{ width:150px; font-size:16px; text-align:right; }
input.tensei_suru_lv{ width:40px; font-size:16px; text-align:center; }
textarea.keika{ width:750px; font-size:16px; text-align:left;}
textarea.kekka{ width:750px; font-size:16px; text-align:left;}

TH.no_mini{ font-size: 90%; text-align:center; padding: 2px 4px; }
TD.no_mini{ font-size: 90%; font-weight: bold; text-align:center; padding: 2px 4px; }
TH.exp_mini{ font-size: 90%; text-align:center; padding: 2px 4px; }
TD.exp_mini{ font-size: 90%; font-weight: bold; text-align:center; padding: 2px 4px; }
TH.ruikei_mini{ font-size: 90%; text-align:center; padding: 2px 4px; }
TD.ruikei_mini{ font-size: 90%; font-weight: bold; text-align:center; padding: 2px 4px; }


/* ▼列幅指定▼ */
TBODY TH, TBODY TD{ line-height:1.3em;  letter-spacing:0.08em; color:#333333;}
TH.no,TD.no{ width : 80px ; font-weight: bold;} 
TH.mission_subtitle,TD.mission_subtitle{ width : 350px ; font-weight: bold;} 
TH.mission_category,TD.mission_category{ width : 350px ; font-weight: bold;} 
TH.mission_naiyou,TD.mission_naiyou{ width : 600px ; font-weight: bold;} 
TH.mission_naiyou,TD.mission_naiyou{ width : 600px ; font-weight: bold;} 
TH.housyu,TD.housyu{ width : 350px ; font-weight: bold; padding:4px 6px;} 
TH.bikou,TD.bikou{ width : 800px ; text-align: left; padding:4px 6px;} 

/*
TH.quetitle,TD.quetitle{ width : 350px ; font-weight: bold;} 
TH.quenaiyou,TD.quenaiyou{ width : 500px ; font-weight: bold;} 
TH.jouken01,TD.jouken01{ width : 80px ; font-weight: bold; padding:4px 6px;} 
TH.jouken02,TD.jouken02{ width : 80px ; font-weight: bold; padding:4px 6px;} 
TH.housyu_exp,TD.housyu_exp{ width : 250px ; font-weight: bold; padding:4px 6px;} 
TH.bikou,TD.bikou{ width : 800px ; text-align: left; padding:4px 6px;} 
*/

TH.taosukazu,TD.taosukazu{ width : 100px ; font-weight: bold;} 
TH.moraerumono,TD.moraerumono{ width : 350px ; font-weight: bold;} 
TH.housyu_item_darin,TD.housyu_item_darin{ width : 400px ; font-weight: bold; padding:4px 6px;} 
TH.housyu_item_derin,TD.housyu_item_derin{ width : 350px ; font-weight: bold; padding:4px 6px;} 
TH.housyu_exp_darin,TD.housyu_exp_darin{ width : 150px ; font-weight: bold; padding:4px 6px;} 
TH.housyu_exp_derin,TD.housyu_exp_derin{ width : 200px ; font-weight: bold; padding:4px 6px;} 

TH.midashi00,TD.midashi00{ width : 40px ; font-weight: bold;} /* ▼見出し00▼ */
TH.midashi01,TD.midashi01{ width : 200px ; font-weight: bold; padding:2px 4px} /* ▼見出し01▼ */
TH.midashi02,TD.midashi02{ width : 500px ; font-weight: bold; padding:2px 4px} /* ▼見出し02▼ */
TH.midashi03,TD.midashi03{ width : 150px ; font-weight: bold; padding:2px 4px} /* ▼見出し03▼ */
