br{
	letter-spacing:0;
}

div.partblock{
  font-size:90%;
  line-height:1.4em;
  letter-spacing:0.1em;
  margin:20,5;
  padding:5,5;
}

div.bg_ltblue{
background-color:#add8e6;
color:#333333;

}

div.bg_ltgray{
background-color:#ededf0;
color:#333333;

}

div.bg_snowwhite{
background-color:#f8fcfb;
color:#333333;
}

div.bg_greenmist{
background-color:#e2eee2;
color:#333333;
}
TABLE.mq2nd_mokuji TH{
	width:300px;
	padding: 4px 6px;
}

TABLE.mq2nd_mokuji TD{
	width:300px;
	padding: 4px 6px;
	text-align:left;
}


TABLE.mq2nd_table TH{
	padding: 4px 6px;
}
TABLE.mq2nd_table TD{
	padding: 4px 6px;
}


/*-------------------------------
	テーブル要素の設定
-------------------------------*/
TBODY TH, TBODY TD               { line-height:1.3em; letter-spacing:0.1em;} /* TBODY共通 */
TBODY TH.Title,TBODY TD.Title    { width : 200px;}  /* ▼Title▼ */
TBODY TH.exp,TBODY TD.exp        { width : 80px; font-weight:bold;}  /* ▼EXP▼ */
TBODY TH.naiyou,TBODY TD.naiyou  { width : 350px; font-weight:bold; } /* ▼内容▼ */
TBODY TH.npc,TBODY TD.npc        { width : 150px; font-weight:bold; } /* ▼NPC▼ */
TBODY TH.map,TBODY TD.map        { width : 200px; font-weight:bold; } /* ▼MAP/座標▼ */
TBODY TH.bikou,TBODY TD.bikou    { width : 600px; text-align:left; } /* ▼備考▼ */

TBODY TH.quemob,TBODY TD.quemob  { width : 130px; font-weight:bold; } /* ▼クエ品/MOB▼ */
TBODY TH.limlv,TBODY TD.limlv    { width : 40px;}  /* ▼制限Lv▼ */

/*-------------------------------
	文字色の設定
-------------------------------*/
TD.fc_01 { color: #8A2BE2; }
TD.fc_02 { color: #0000ff; }
TD.fc_03 { color: #009900; }
TD.fc_04 { color: #FF0000; }
TD.fc_05 { color: #FF3399; }