@charset   "Shift_JIS";
body{
}

div.himitsutable{
  font-size:100%;
}

TABLE.himitsu_ichiran{
	font-size:13px;
/*	table-layout: fixed; */
/*	width:1600px; */
}

TABLE.himitsu_ichiran TH,
TABLE.himitsu_ichiran TD,
{
	padding:4px 6px;
}

/* Å•óÒïùéwíËÅ• */
/* îÈñßàÍóóï\ */
TBODY TH, TBODY TD             { letter-spacing: 1.5px; line-height:1.4em; }  /*TBODYã§í  */
TH.namae,TD.namae {/* width: 260px */; text-align:center; padding:4px 6px;} 
TH.Lv,TD.Lv { /*width: 30px ;*/ text-align:center; padding:4px 6px;} 
TH.potabasyo,TD.potabasyo { /*width: 150px*/ ; text-align:center; padding:4px 6px;} 
TH.rendoumap,TD.rendoumap { /*width: 150px*/ ; text-align:center; padding:4px 6px;} 
TH.johnmalco,TD.johnmalco { /*width: 100px*/ ; text-align:center; padding:4px 6px;} 
TH.clearexp,TD.clearexp { /*width: 125px*/ ; text-align:center; padding:4px 6px;} 
TH.gold,TD.gold { /*width: 150px*/ ; text-align:center; padding:4px 6px;} 
TH.jikan,TD.jikan { /*width: 60px*/ ; text-align:center; padding:4px 6px;} 
TH.bikou { /*width: 600px*/ ; text-align:center; padding:4px 6px;}
TD.bikou { /*width: 600px*/ ; text-align:left; padding:4px 6px;Å@}
