@charset "utf-8";

.frame {
	width: 700px;
	font-size: 80%;
	text-align: center;
	border-style:outset;
	border-width: 6px;
	border-color:#907050;
    margin-left: auto;
	margin-right: auto;			
}

.fhead {
	color: #DDDDDD;
	background-color: #7e5e3e;
}

.fbody {
	text-align: left;
    padding: 10px 10px 10px 10px;
}


table#t-01 {
	width: 670px;
	table-layout:fixed;	
	border-collapse: separate;
	border-spacing: 10px 10px;
    margin-left: auto;
	margin-right: auto;
}

table#t-01 th {
	background-color: #9c4728;
}

table#t-01 td {
	background-color: #fae0e7;
    text-align: left;
    padding: 10px 10px 20px 10px;
}
