@charset "utf-8";

body {
    background-color: #000000;
    font-family:"Osaka",'ＭＳ Ｐゴシック', sans-serif;
}

a:link, a:visited {
  	color: #cc6600;
  	text-decoration: none;
}

th, td {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;	
}
div#s_result {
	color: #FFFFFF;
    font-size:12px;
    line-height:1.2;
    margin: 0 30px;	
}

.main {
	width: 800px;
	text-align: center;
    	margin-left: auto;
    	margin-right: auto;
}

.mobtable {
    border-top:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0;
    border-collapse: collapse;
    margin-bottom: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
	
}

.mobtable th {
	width: 400px;
	height: 50px;
	color: #e0e060;
	background-color: #600000;
    border-right:1px solid #a0a0a0;
    border-bottom:1px solid #a0a0a0;
    border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
}

.mobtable td {
	color: #f0f0f0;
	height: 20px;
    border-right:1px solid #a0a0a0;
    border-bottom:1px solid #a0a0a0;
    border-collapse: collapse;
}

.subtable {
	width: 400px;
	margin: 5px;
    border-top:1px solid #a0a0a0;
    border-left:1px solid #a0a0a0;
    border-collapse: collapse;
	overflow:hidden;
}

.subtable td {
	background-color: #000000;
    border-right:1px solid #a0a0a0;
    border-bottom:1px solid #a0a0a0;
    border-collapse: collapse;
	overflow:hidden;
}

.inputform {
	color: #ffffff;
	background-color: #000000;
	border: 0 hidden #000000;
	text-align: center;
}

.inputlvform {
	color: #ffffff;
	background-color: #000000;
	border: 0 hidden #000000;
	text-align: left;
}

.frame {
	width: 800px;
	font-size: 80%;
	text-align: center;
	border-style:outset;
	border-width: 5px;
	border-color:#907050;
    margin-left: auto;
	margin-right: auto;			
}

.pindex {
	width: 800px;
    overflow: visible;
    text-align: center; 
    font-size:12px;
    line-height:1.2;
    font-family:"Osaka","ＭＳ Ｐゴシック",sans-serif;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

.pindex table {
	margin-left: auto;
	margin-right: auto;
}
 
.pindex td {
	color:#FFFFFF;
    border-collapse:collapse;
    border-spacing:0;	
	text-align: center;
	vertical-align: middle;
}

div#fhead {
	color: #DDDDDD;
	background-color: #7e5e3e;
}

div#fbody {
	color: #FFFFFF;
	text-align: left;
    padding: 10px 10px 10px 10px;
}

p.pagetop {
	text-align: right;
 	margin: 1em 3em;
	font-size: 75%;
}


br { letter-spacing : normal; }
