@charset   "Shift_JIS";

TABLE{
   font-family:'ＭＳ Ｐゴシック',
                sans-serif;
}

TABLE.invisible {
   font-family:'ＭＳ Ｐゴシック',
                sans-serif;
   font-size: 75%;
}

TABLE.mq_t{
   font-size: 80%;
   line-height: 125%;

   text-align: center;

   border-collapse: separate ;
   border-spacing: 0;
   empty-cells: show ;
}

/* ▼外枠（青）▼ */
.ob_blue {
   border-top: 1px solid #6495ed;
   border-right: 0px solid;
   border-bottom: 0px solid;
   border-left: 1px solid #6495ed;
}

/* ▼外枠（赤）▼ */
.ob_red {
   border-top: 1px solid #da70d6;
   border-right: 0px solid;
   border-bottom: 0px solid;
   border-left: 1px solid #da70d6;
}

/* ▼内枠（青）▼ */
.ib_blue TH,
.ib_blue TD{
   border-top: none;
   border-right: 1px solid #6495ed;
   border-bottom: 1px solid #6495ed;
   border-left: none;  
}

/* ▼内枠（赤）▼ */
.ib_red TH,
.ib_red TD{
   border-top: none;
   border-right: 1px solid #da70d6;
   border-bottom: 1px solid #da70d6;
   border-left: none;  
}

/* ▼枠なし▼ */
.ob_none TH,
.ob_none TD{
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: none;  
}

.ib_none TH,
.ib_none TD{
   border-top: none;
   border-right: none;
   border-bottom: none;
   border-left: none;  
}

.bold{ font-weight: bold; }

/* ▼列幅指定▼ */
/*　強化必要材料一覧 */
TH.setname,TD.setname{ width : 455px ;} /* ▼セット名▼ */
TH.bui,TD.bui{ width : 45px ;} /* ▼部位▼ */
TH.wakibasyo,TD.wakibasyo{ width : 329px ;} /* ▼沸き場所▼ */
TH.itembui,TD.itembui{ width : 45px ;} /* ▼部位▼ */
TH.itemname,TD.itemname{ width : 180px ;} /* ▼名前▼ */
TH.youkyu,TD.youkyu{ width : 80px ;} /* ▼ステ要求▼ */
TH.op1,TD.op1{ width : 100px ;} /* ▼OP1▼ */
TH.op2,TD.op2{ width : 100px ;} /* ▼OP2▼ */
TH.op3,TD.op3{ width : 100px ;} /* ▼OP3▼ */
TH.base,TD.base{ width : 120px ;} /* ▼ベース▼ */
TH.kouka2,TD.kouka2{ width : 80px ;} /* ▼セット効果（2個）▼ */
TH.kouka3,TD.kouka3{ width : 80px ;} /* ▼セット効果（3個）▼ */
TH.kouka4,TD.kouka4{ width : 80px ;} /* ▼セット効果（4個）▼ */
TH.kouka5,TD.kouka5{ width : 80px ;} /* ▼セット効果（5個）▼ */

/* ▼列ごとのその他の指定▼ */
TD.setname      { font-weight: bold; font-size: 150%;} /* ▼NPC▼ */
TH.itemname,TD.itemname{ font-weight: bold; } /* ▼名前▼ */
TH.youkyu,TD.youkyu{ font-weight: bold; } /* ▼ステ要求▼ */
TH.op1,TD.op1{ font-weight: bold; } /* ▼OP1▼ */
TH.op2,TD.op2{ font-weight: bold; } /* ▼OP2▼ */
TH.op3,TD.op3{ font-weight: bold; } /* ▼OP3▼ */
TH.base,TD.base{ font-weight: bold; } /* ▼ベース▼ */
TH.kouka2,TD.kouka2{ font-weight: bold; } /* ▼セット効果（2個）▼ */
TH.kouka3,TD.kouka3{ font-weight: bold; } /* ▼セット効果（3個）▼ */
TH.kouka4,TD.kouka4{ font-weight: bold; } /* ▼セット効果（4個）▼ */
TH.kouka5,TD.kouka5{ font-weight: bold; } /* ▼セット効果（5個）▼ */

/* ▼表の本体の装飾▼ */
/* ▼セル色（青色）▼ */
.bg_blue TH,
TH.bg_blue {
   background-color: #abc5da;
   font-weight: bold;
}
.bg_blue TD,{
   background-color: #CBD5FF;  
}

TD.bg_blue {
   background-color: #abc5da;
}

TD.bg_ltblue {
   background-color: #CBD5FF;  
}

TD.bg_ltpink {
   background-color: #FFDDFF;  
}

/* ▼セル色（赤色）▼ */
.bg_red TH, 
TH.bg_red {
   background-color: #d1b1ba;
   font-weight: bold;
}
.bg_red TD{
   background-color: #dddddd; 
}

TD.bg_red{
   background-color: #d1b1ba;
}

/* ▼セル色（灰色）▼ */
.bg_gray TH, .bg_gray TD,
TH.bg_gray, TD.bg_gray {
   background-color: #cccccc;
}

/* ▼セル色（薄灰色）▼ */
.bg_ltgray TH, .bg_ltgray TD,
TH.bg_ltgray, TD.bg_ltgray {
   background-color: #dddddd;
}

/* ▼セル色（透過）▼ */
.bg_none TH, .bg_none TD,
TH.bg_none, TD.bg_none {
   background-color: transparent;
}

/* ▼文字色の設定▼ */
TABLE.mq_t TD.fc_01 { color: #8A2BE2; }
TABLE.mq_t TD.fc_02 { color: #0000ff; }
TABLE.mq_t TD.fc_03 { color: #009900; }
TABLE.mq_t TD.fc_04 { color: #FF0000; }
TABLE.mq_t TD.fc_05 { color: #FF3399; }

