TABLE.setitem_t{
   font-family : "ＭＳ Ｐゴシック";  
}

/* ▼表のセル(全部)の装飾▼ */
table.setitem_t th,
table.setitem_t td {
   font-size: 80%;
   font-weight: bold;
   text-align: center;
   text-valign: middle;
}

/* ▼表のヘッダ(上部)の装飾▼ */
TABLE.setitem_t THEAD TH {
   background-color: #cccccc;  
}

TABLE.setitem_t THEAD TD {
   background-color: #cccccc;   
}

/* ▼表の本体の装飾▼ */
TABLE.setitem_t TBODY.blue TD {
   background-color: #abc5da;  
}

TABLE.setitem_t TBODY.red TD {
   background-color: #d1b1ba;  
}

TABLE.setitem_t TBODY TD.title {
   font-size : 110%; 
}

table.setitem_t tbody td.iconarea {
   height: 30px
;}