.dropdown *	{ margin: 0; padding: 0; }
.dropdown a	{ text-decoration: none; }
.dropdown p	{ margin: 15px 0; }

.wrap-normal {
	overflow-wrap: normal;
	word-wrap: normal;
}

/* 
	LEVEL ONE
*/
ul.dropdown                         { list-style: none; margin:0; padding:0; }
ul.dropdown li                      { display: block; font-weight: normal; float: left; white-space: nowrap; zoom: 1; background: #3366cc; position: relative; z-index:100;}
ul.dropdown a:hover	                { color: #ffffff; }
ul.dropdown li a                    { border:none; color: #ffffff; }
ul.dropdown li.hover,
ul.dropdown li:hover                { background:#0000cc; color: #ffffff;}
ul.dropdown li.hover a              { color: #ffffff; }


/* 
	LEVEL TWO
*/
ul.dropdown ul			{ list-style: none; visibility: hidden;position: absolute; top: 98%; left: 1; z-index:110;}
ul.dropdown ul li		{ display: block; padding: 0px 0px; font-weight: normal; background: #3366cc; color: #ffffff; float: none; }
ul.dropdown ul li a		{ border:none;}
									  
  /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a		{ border-right: none; width: 100%; display: inline-block; } 

/* 
	LEVEL THREE
*/
ul.dropdown ul ul		{ left: 100%; top: -4%; z-index:120;}
ul.dropdown li:hover > ul	{ visibility: visible; }

/* 
	color_red
*/
ul.bg_red li,
ul.bg_red ul li		{ background:#990033; }
ul.bg_red li.hover,
ul.bg_red li:hover	{ background:#ff0000; }
ul.bg_red li a:hover	{ color:ffff00; }
/* 
	color_blue
*/
ul.bg_blue li,
ul.bg_blue ul li	{ background:#003399; }
ul.bg_blue li.hover,
ul.bg_blue li:hover	{ background:#0066cc; }
ul.bg_blue li a:hover	{ color:ffff00; }

/* 
	color_ltblue
*/
ul.bg_ltblue li,
ul.bg_ltblue ul li	{ background:#0066cc; }
ul.bg_ltblue li.hover,
ul.bg_ltblue li:hover	{ background:#003399; }
ul.bg_ltblue li a:hover	{ color:ffff00; }

/* 
	color_green
*/
ul.bg_green li,
ul.bg_green ul li	{ background:#006600; }
ul.bg_green li.hover,
ul.bg_green li:hover	{ background:#009900; }
ul.bg_green li a:hover	{ color:ffff00; }

/* 
	font_size
*/

.fs_6{ font-size: 6px;}
.fs_7{ font-size: 7px;}
.fs_8{ font-size: 8px;}
.fs_9{ font-size: 9px;}
.fs_10{ font-size: 10px;}
.fs_11{ font-size: 11px;}
.fs_12{ font-size: 12px;}
.fs_13{ font-size: 13px;}
.fs_14{ font-size: 14px;}
.fs_15{ font-size: 15px;}
.fs_16{ font-size: 16px;}
.fs_17{ font-size: 17px;}
.fs_18{ font-size: 18px;}
.fs_19{ font-size: 19px;}
.fs_20{ font-size: 20px;}
/* 
	child_ul_width
*/
ul.subwidth_100 ul{ width:100px; }
ul.subwidth_120 ul{ width:120px; }
ul.subwidth_140 ul{ width:140px; }
ul.subwidth_160 ul{ width:160px; }
ul.subwidth_180 ul{ width:180px; }
ul.subwidth_200 ul{ width:200px; }
ul.subwidth_220 ul{ width:220px; }
ul.subwidth_240 ul{ width:240px; }
ul.subwidth_260 ul{ width:260px; }
ul.subwidth_280 ul{ width:280px; }
ul.subwidth_300 ul{ width:300px; }
ul.subwidth_320 ul{ width:320px; }
ul.subwidth_340 ul{ width:340px; }
ul.subwidth_360 ul{ width:360px; }
ul.subwidth_380 ul{ width:380px; }
ul.subwidth_400 ul{ width:400px; }

/* 
	padding
*/
ul.padding_small li			{ padding: 5px 10px; }
ul.padding_small li a		{ padding: 5px 0px; }
ul.padding_small ul li a	{ padding: 6px 10px; }
ul.padding_middle li		{ padding: 8px 13px; }
ul.padding_middle li a		{ padding: 8px 0px; }
ul.padding_middle ul li a	{ padding: 9px 13px; }
ul.padding_large li			{ padding: 11px 16px; }
ul.padding_large li a		{ padding: 11px 0px; }
ul.padding_large ul li a	{ padding: 12px 16px; }


/* 
	z-index
*/
ul.zindex_1 { z-index: 1; }
ul.zindex_2 { z-index: 2; }
ul.zindex_3 { z-index: 3; }
ul.zindex_4 { z-index: 4; }
ul.zindex_5 { z-index: 5; }
ul.zindex_6 { z-index: 6; }
ul.zindex_7 { z-index: 7; }
ul.zindex_8 { z-index: 8; }
ul.zindex_9 { z-index: 9; }
ul.zindex_10 { z-index: 10; }

/* 
	z-index
*/
.khbmainmenu {
  position:relative;
/*  z-index:100; */
}

.khbsubmenu {
  position:relative;
/*  z-index:90; */
  margin:5px,0px;
  z-index:2;
}
/* 
	display on/off
*/
ul.display_none { display: none; }

