@charset   "Shift_JIS";
body{
  background-image: url(image/wallppr034.gif);
  font-size:90%;
}

div.partblock{
background-color:#ADD8E6;
line-height:1.5em;
margin:20,0;
padding:2,5;
}

div.bgblue{
background-color:#ADD8E6;
}

div.bggreen{
background-color:#D8F6CE;
}

div.bgpurple{
background-color:#ffe1ff;
}

p{
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
text-indent:-1em;
padding-left:1em;
background-color:#add8e6;
width: 75%;
line-height: 125%;

}

h3{
  font-size:120%;
  border-bottom:1px solid #999999;
  border-left:6px solid #1E90FF;
  background-color:#B0C4DE;
  line-height:150%;
  padding-left:8px;
  margin:5,0;
}

h4{
  font-size:110%;
  width:70%;
  border-bottom:1px solid #999999;
  background-color:#D8BFD8;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

span{
  font-weight:bold;
  font-size:100%;
}

/* table項目 */
table{
  line-height:1.5em;
}
TH.npc,TD.npc{ width : 150px ; font-weight: bold;} /* ▼NPC▼ */
TH.mob,TD.mob{ width : 250px ; font-weight: bold;} /* ▼mob▼ */
TH.map,TD.map{ width : 250px ; font-weight: bold; padding:4px 6px;} /* ▼map・座標▼ */
TH.bikou,TD.bikou{ width : 450px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */

#mobdata{
  font-size:90%;
}

#mobdata th,
#mobdata td{
  width:80;
}

#kaihidata{
  font-size:90%;
}
