@import url( record.css );
#wm-ipp {
	margin: 0px; padding: 0px; border-radius: 0px; left: 0px; top: 0px; font-size: 11px; min-height: 65px; background-color: transparent;
}
#wm-ipp * {
	background: none; border: currentColor; border-image: none; width: auto; height: auto; text-align: left; color: rgb(0, 0, 0); line-height: 1.2; text-indent: 0px; letter-spacing: 0px; font-family: Lucida Grande, Helvetica, Arial, sans-serif; font-size: 12px; float: none; min-height: 0px; max-height: none; min-width: 0px; max-width: none;
}
#wm-ipp div {
	display: block;
}
#wm-ipp div {
	margin: 0px; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; height: auto; z-index: 2147483640; background-image: none; background-color: transparent;
}
#wm-ipp tr {
	margin: 0px; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; height: auto; z-index: 2147483640; background-image: none; background-color: transparent;
}
#wm-ipp td {
	margin: 0px; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; height: auto; z-index: 2147483640; background-image: none; background-color: transparent;
}
#wm-ipp a {
	margin: 0px; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; height: auto; z-index: 2147483640; background-image: none; background-color: transparent;
}
#wm-ipp form {
	margin: 0px; padding: 0px; border-radius: 0px; border: currentColor; border-image: none; height: auto; z-index: 2147483640; background-image: none; background-color: transparent;
}
#wm-ipp table {
	margin: 0px; padding: 0px; border: currentColor; border-image: none; width: auto; font-size: inherit; border-collapse: collapse;
}
#wm-ipp form input {
	background: rgb(255, 255, 255); margin: 0px; padding: 1px !important; border: 1px solid rgb(102, 102, 102); border-image: none; height: auto; color: rgb(0, 0, 0); display: inline;
}
#wm-ipp form input[type=submit] {
	background: rgb(255, 255, 255) !important; margin: 1px 0px 1px 5px !important; padding: 0px 8px !important; border: 1px solid rgb(0, 0, 0) !important; border-image: none !important; width: auto !important; color: rgb(0, 0, 0) !important;
}
#wm-ipp a {
	display: inline;
}
#wm-ipp a:hover {
	text-decoration: underline;
}
#wm-ipp a.wm-btn:hover {
	color: rgb(255, 255, 0) !important; text-decoration: none;
}
#wm-ipp a.wm-btn:hover span {
	color: rgb(255, 255, 0) !important;
}
#wm-ipp #wm-ipp-inside {
	border-width: medium 5px 5px; border-style: none solid solid; border-color: currentColor rgb(0, 0, 0) rgb(0, 0, 0); margin: 0px 6px; border-radius: 0px 0px 8px 8px; border-image: none; box-shadow: 1px 1px 4px #333; background-color: rgba(255, 255, 255, 0.9); -moz-box-shadow: 1px 1px 4px #333; -webkit-box-shadow: 1px 1px 4px #333;
}
#wm-ipp #wm-logo {
	padding: 0px 10px; width: 15%; vertical-align: middle; min-width: 110px;
}
#wm-ipp table tr::before {
	margin: 0px; height: auto;
}
#wm-ipp table tr::after {
	margin: 0px; height: auto;
}
#wm-ipp table.c {
	margin-left: 4px; vertical-align: top;
}
#wm-ipp table.c td {
	border: currentColor !important; border-image: none !important;
}
#wm-ipp .c td.u {
	padding: 3px 0px !important; text-align: center;
}
#wm-ipp .c td.n {
	padding: 0px 0px 0px 5px !important; vertical-align: bottom;
}
#wm-ipp .c td.n a {
	color: rgb(51, 51, 255); font-weight: bold; text-decoration: none;
}
#wm-ipp .c td.n td.b {
	padding: 0px 6px 0px 0px !important; text-align: right !important; color: rgb(153, 153, 170); overflow: visible; vertical-align: middle; white-space: nowrap;
}
#wm-ipp .c td.n tr.y td.b {
	padding: 0px 6px 2px 0px !important;
}
#wm-ipp .c td.n td.c {
	background: rgb(0, 0, 0); padding: 0px !important; text-align: center; color: rgb(255, 255, 0); font-weight: bold;
}
.hi#wm-ipp .c td.n td.c {
	color: rgb(236, 0, 140);
}
#wm-ipp .c td.n td.f {
	padding: 0px 0px 0px 6px !important; text-align: left !important; color: rgb(153, 153, 170); overflow: visible; vertical-align: middle; white-space: nowrap;
}
#wm-ipp .c td.n tr.m td {
	padding: 2px 0px; text-transform: uppercase; white-space: nowrap;
}
#wm-ipp .c td.s {
	padding: 0px 5px 0px 0px !important; text-align: center; vertical-align: bottom;
}
#wm-ipp #wm-nav-captures {
	white-space: nowrap;
}
#wm-ipp .c td.s a.t {
	color: rgb(51, 51, 255); line-height: 1.8; font-weight: bold;
}
#wm-ipp .c td.s div.r {
	color: rgb(102, 102, 102); font-size: 9px; white-space: nowrap;
}
#wm-ipp .c td.k {
	padding-bottom: 2px; vertical-align: bottom;
}
#wm-ipp .c td.s {
	padding: 0px 5px 2px 0px !important;
}
#wm-ipp td#displayMonthEl {
	padding: 2px 0px !important;
}
#wm-ipp td#displayYearEl {
	padding: 0px 0px 2px !important;
}
div#wm-ipp-sparkline {
	line-height: 0.9; white-space: nowrap; position: relative; cursor: pointer; background-color: rgb(255, 255, 255);
}
#sparklineImgId {
	position: relative; z-index: 9012; max-width: none;
}
#wm-sparkline-canvas {
	position: relative; z-index: 9012; max-width: none;
}
#wm-ipp-sparkline div.yt {
	position: absolute; z-index: 9010 !important; background-color: rgb(255, 255, 0) !important;
}
#wm-ipp-sparkline div.mt {
	position: absolute; z-index: 9013 !important; background-color: rgb(236, 0, 140) !important;
}
#wm-ipp .r {
	position: relative;
}
#wm-ipp .r a {
	background-position: 100% 100% !important; border: currentColor; border-image: none; color: rgb(51, 51, 255); text-decoration: none; position: relative; background-repeat: no-repeat !important; background-color: transparent;
}
#wm-ipp #wm-capinfo .c-logo {
	background-position: 50%; border-radius: 45px; width: 90px; overflow: hidden; margin-right: 3px; float: left; display: block; min-height: 90px; max-height: 290px; box-shadow: inset 0px 0px 2px 2px rgba(208,208,208,1); background-size: auto 90px;
}
#wm-ipp #wm-capinfo .c-logo span {
	display: inline-block;
}
#wm-ipp #wm-capinfo .c-logo img {
	left: -50%; height: 90px; position: relative;
}
#wm-ipp #wm-capinfo .wm-title {
	font-size: 130%;
}
#wm-ipp #wm-capinfo a.wm-selector {
	padding: 2px 8px; color: rgb(170, 170, 170); text-decoration: none !important; display: inline-block;
}
#wm-ipp #wm-capinfo a.wm-selector.selected {
	background-color: rgb(102, 102, 102);
}
#wm-ipp #wm-capinfo a.wm-selector:hover {
	color: rgb(255, 255, 255);
}
#wm-ipp #wm-expand {
	padding: 0px 5px 0px 3px !important; border-radius: 3px 3px 0px 0px !important; right: 1px; bottom: -1px; color: rgb(255, 255, 255); background-color: rgb(102, 102, 102) !important;
}
#wm-ipp #wm-expand span {
	color: rgb(255, 255, 255);
}
#wm-ipp #wm-expand #wm-expand-icon {
	transform-origin: 50% 45%; transition:transform 0.5s; display: inline-block;
}
#wm-ipp .wm-open#wm-expand #wm-expand-icon {
	transform: rotate(180deg);
}
#wm-ipp #wmtb {
	text-align: right;
}
#wm-ipp #wmtb #wmtbURL {
	width: calc(100% - 45px);
}
#wm-ipp #wm-graph-anchor {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
html.wb-highlight {
	box-shadow: inset 0px 0px 0px 3px #a50e3a !important;
}
.wb-highlight {
	outline: rgb(165, 14, 58) solid 3px !important;
}
@media all and (min-width:946px)
{
#wm-ipp #wm-graph-anchor {
	display: block !important;
}
}
@media all and (max-width:945px)
{
#wm-ipp #wm-graph-anchor {
	display: none !important;
}
#wm-ipp table.c {
	width: calc(100% - 131px);
}
}
@media all and (max-width:1096px)
{
#wm-logo {
	display: none !important;
}
}
#wm-btns > #wm-save-snapshot-open {
	top: -6px; margin-right: 7px;
}
#wm-btns > #wm-sign-in {
	border-radius: 14px; border: 2px solid rgb(0, 0, 0); border-image: none; top: -8px; width: 11px; height: 11px; padding-right: 2px; padding-bottom: 2px; margin-right: 7px; display: none; box-sizing: content-box;
}
#wm-btns > #wm-sign-in > .iconochive-person {
	font-size: 12.5px;
}
#wm-save-snapshot-open > .iconochive-web {
	color: rgb(0, 0, 0); font-size: 160%;
}
#wm-btns > #wm-save-snapshot-in-progress {
	top: -5px; font-size: 160%; margin-right: 7px; display: none; position: relative; opacity: 0.5;
}
#wm-btns > #wm-save-snapshot-success {
	top: -7px; color: green; display: none; position: relative;
}
#wm-btns > #wm-save-snapshot-fail {
	top: -7px; color: red; display: none; position: relative;
}
