body{
  letter-spacing: 1px;
}
div.partblock{
  font-size:90%;
  line-height:1.4em;
  margin:20,0;
  padding:5,5;
}

div.bg_ltblue{
background-color:#ADD8E6;
}

div.bg_ltgray{
background-color:#ededff;
}

h3{
  font-size:120%;
  border-bottom:1px solid #999999;
  border-left:6px solid #1E90FF;
  background-color:#B0C4DE;
  line-height:150%;
  padding-left:8px;
  margin:5,0;
}

h4{
  font-size:100%;
  width:70%;
  border-bottom:1px solid #999999;
  background-color:#D8BFD8;
  line-height:150%;
  padding-left:8px;
  margin:2,0;
}

/* ▼列幅指定▼ */
TH,TD{letter-spacing: 1.5px;line-height:1.3em}
TH.npc,TD.npc{ width : 150px ; font-weight: bold;} /* ▼NPC▼ */
TH.exp,TD.exp{ width : 120px ; font-weight: bold;} /* ▼EXP▼ */
TH.mob,TD.mob{ width : 250px ; font-weight: bold;} /* ▼mob▼ */
TH.map,TD.map{ width : 250px ; font-weight: bold; padding:4px 6px;} /* ▼map・座標▼ */
TH.bikou,TD.bikou{ width : 600px ; text-align: left; padding:4px 6px;line-height:1.3em} /* ▼備考▼ */
TH.all,TD.all{ width : 1100px ; font-weight: bold; text-align: left; padding:4px 6px;} /* ▼all▼ */

TH.midashi00,TD.midashi00{ width : 40px ; font-weight: bold;} /* ▼見出し00▼ */
TH.midashi01,TD.midashi01{ width : 200px ; font-weight: bold; padding:2px 4px} /* ▼見出し01▼ */
TH.midashi02,TD.midashi02{ width : 500px ; font-weight: bold; padding:2px 4px} /* ▼見出し02▼ */
TH.midashi03,TD.midashi03{ width : 150px ; font-weight: bold; padding:2px 4px} /* ▼見出し03▼ */


TH.quetitle,TD.quetitle{ width : 100px ; font-weight: bold;} /* ▼Title▼ */
TH.quetitle2,TD.quetitle2{ width : 150px ; font-weight: bold; padding:4px 6px;} /* ▼exp▼ */
TH.quelv,TD.quelv{ width : 30px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.queinv,TD.queinv{ width : 80px ; font-weight: bold;} /* ▼受諾可能Lv▼ */
TH.quekouka,TD.quekouka{ width : 200px ; font-weight: bold; padding:4px 6px;} /* ▼称号効果▼ */
TH.quenpc,TD.quenpc{ width : 130px ; font-weight: bold;} /* ▼NPC▼ */
TH.queplace,TD.queplace{ width : 220px ; font-weight: bold; padding:4px 6px;} /* ▼NPCの場所▼ */
TH.quebikou,TD.quebikou{ width : 400px ; text-align: left; padding:4px 6px;} /* ▼備考▼ */