@charset   "Shift_JIS";
body{
}

table.gvcalculator td{
font-size : 80%;
}

div{
line-height:1.2em;
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
background-color:#ccffff;
}

div.gvteikou{
font-size : 80%;
}
div.keisanki{
font-size : 80%;
}
div.reku{
font-size : 80%;
}
div.arijigoku{
font-size : 80%;
}
div.uragiri{
font-size : 80%;
}
div.ashidome{
font-size : 80%;
}

table.teikoukekka{
}
table.teikoukekka TD{
  text-align:center;
  padding: 4, 4;
}

