br{
	letter-spacing:0;
}

div.partblock{
  font-size:90%;
  line-height:1.4em;
  letter-spacing:0.1em;
  margin:20,5;
  padding:5,5;
}

div.bg_ltblue{
background-color:#add8e6;
color:#333333;

}

div.bg_ltgray{
background-color:#ededf0;
color:#333333;

}

div.bg_snowwhite{
background-color:#f8fcfb;
color:#333333;
}

div.bg_greenmist{
background-color:#e2eee2;
color:#333333;
}
TABLE.padding_small TH,
TABLE.padding_small TD{
	padding: 4px 6px;
}