@charset   "Shift_JIS";
body{
font-size: 90%;
}

div{
line-height:1.5em;
}

input {
font-family:Arial,Helvetica,sans-serif;
}

h2{
font-size : medium;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 75%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#000088;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

h3{
font-size : 90%;	/* フォントサイズ */
text-align : left;	/* テキストの左寄せ */
width: 50%;
margin : 25,0,5,0;
padding-left: 0.5em;
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
border-color:#0000cc;
border-width:0 0 2px 0;
border-style:solid;
background:#ccccFF;
}

table{
line-height : 1.5em;	/* 領域（行）の高さ＝フォントの１．５倍 */
}

div.framecalc{
font-weight : normal;	/* フォントの太さ */
text-align : left;	/* テキストの左寄せ */
margin : 5px;
width: 75%;
font-size: 85%;
}

table.framecalcinput{
 text-align:left;
}

framecalctable.td{
}

td.framecalctable_td{
font-size: 85%;
width: 100%;
}

table.frameichiran.tr.td{
font-size:100%;
}

table.idougv.tr.td{
	background-color:#ffccff;
}


td{
font-size:85%;
vertical-align: center;
}

strong.tabletitle{
  font-size: 120%;
}

label, input[type='checkbox'] {
    cursor: pointer;
}

TD.elc_flame{ width:1080px; height:300px; padding:0px; }
TD.elc_title{ width:1080px; height:100px; font-size:120%; text-align:center; padding:0px; }
TD.elc_inputarea{ width:550px; height:200px;  text-align:center; padding:0px; }
TD.elc_inputtitle{ width:150px; font-size:80%; text-align:center; padding:0px; }
TD.elc_inputcontents{ width:400px; font-size:80%; text-align:center; padding:0px; }
TD.elc_inputcontents_left{ width:400px; font-size:80%; text-align:left; padding:0px; }
TD.elc_calcarea{ width:100px; height:200px; align:center; vertical-align:middle; text-align:center; padding:0px; }
TD.elc_outputarea{ width:400px; height:200px; align:center; text-align:center; padding:0px; }
TD.elc_outputstring{ font-size:80%; text-align:left; padding:0px; }

select.tenseikaisuu{ font-size:14px; text-align:center;}
input.nowlv{ width:40px; font-size:16px; text-align:center; }
input.guild_expseisaku{ width:40px; font-size:14px; text-align:center; }
input.hasuuexp{ width:150px; font-size:16px; text-align:right; }
input.hasuuexp_percent{ width:70px; font-size:14px; text-align:center; }
input.hasuuexp_num{ width:150px; font-size:16px; text-align:right; }
input.kakutokuexp{ width:150px; font-size:16px; text-align:right; }
input.tensei_suru_lv{ width:40px; font-size:16px; text-align:center; }
textarea.keika{ width:400px; font-size:16px; text-align:left;}
textarea.kekka{ width:400px; font-size:16px; text-align:left;}
textarea.debugarea{ width:400px; font-size:16px; text-align:left;}

/* 転生クエ計算機用 */
TD.tqc_flame{ width:1080px; height:300px; padding:0px; }
TD.tqc_title{ width:1080px; height:100px; font-size:120%; text-align:center; padding:0px; }
TD.tqc_inputarea{ width:580px; height:200px;  text-align:center; padding:0px; }
TD.tqc_inputtitle{ width:180px; font-size:80%; text-align:center; padding:0px; }
TD.tqc_inputcontents{ width:400px; font-size:80%; text-align:center; padding:0px; }
TD.tqc_inputcontents_left{ width:400px; font-size:80%; text-align:left; padding:0px; }
TD.tqc_calcarea{ width:100px; height:200px; align:center; vertical-align:middle; text-align:center; padding:0px; }
TD.tqc_outputarea{ width:400px; height:200px; align:center; text-align:center; padding:0px; }
TD.tqc_outputstring{ font-size:80%; text-align:left; padding:0px; }


/* ▼列幅指定▼ */
TH.table01_01,TD.table01_01{ width : 30px ; font-weight: bold;} \
TH.table01_02,TD.table01_02{ width : 160px ; font-weight: bold; padding:4px 6px;}
TH.table01_03,TD.table01_03{ width : 50px ; font-weight: bold;}
TH.table01_04,TD.table01_04{ width : 300px ; padding:4px 6px;}
TH.table01_05,TD.table01_05{ width : 450px ; padding:4px 6px; text-align:left;}

TH.table02_01,TD.table02_01{ width : 540px ; text-align: left; padding:4px 6px;}
